.imgProductFour{
    width: 200px;
    height: 150px;
    margin: auto;
}
.imgNameFour{
    border-radius: 17px;
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0);
}
/* .imgNameFour:hover{
    border: 3px solid orange;
} */
.HomiyImageDiv{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    width:150px;
    gap:10px;
    height:50px;
    overflow-y:scroll;
}
.tickCircle{
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: orange;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.someone{
    width: 100px;
    height: 20px;
    margin: auto;
}
